/*style doc*/
body{
    background-image: url(../assets/bgtexture.jpg);
    background-size: 600px 400px;
    background-repeat: repeat;
}


.footer-color{
    color: #5F002B;
}

.catering-box{
    background-color: white;
}

.catering-title{
    color:#5F002B;
    text-align: center;
    font-size: 50px;
    font-family: Fugaz One, Regular;
}

.cateringHero{
    display: center;
}
.catering-col-text{
    background-color: white;
    color:#5F002B;
}

.catering-3-images{
    width:100;
}