/*style doc*/
body{
    background-image: url(../assets/bgtexture.jpg);
    background-size: 600px 400px;
    background-repeat: repeat;
}

@font-face {
    font-family: Montauk Regular;
    src: url(../fonts/Montauk-Regular.otf);
}
.Montauk-regular{
    font-family: Montauk Regular;
}
@font-face {
    font-family: Fugaz One;
    src: url(../fonts/FugazOne-Regular.ttf);
}
.Fugaz-One{
    font-family: Fugaz One;
}

.footer-color{
    color: #5F002B;
}
@media (max-width:500px)
{
  .footer-mobile{
    display: flex;
    justify-content: center;
  }

}
@media (max-width: 786px)
{
  .about-images{
      width: 275px;
      height:auto;

  }
  .card-size{
    width:275px
  }
}
@media (min-width: 787px)
{
  .card-size{
    width: 536px;
  }
}



/* MENU SECTION */
.menu-section {
  display: flex;
  flex-wrap: wrap; /*wraps the columns and is sized to its 2 big menu panels on most all desktops*/
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  background: transparent;
}

/* MENU CARD */
.menu-card {
  width: 640px;                 /* uniform width */
  height: 780px;                /* fixed  height */
  background-color: #fffaf8;   
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

/* MENU IMAGE */
.menu-img {
  width: 100%;
  height: 210px;                /* uniform image height */
  object-fit: cover;
  display: block;
}

/* MENU CONTENT */
.menu-content {
  flex: 1;
  padding: 30px;
  color: #5e0b27;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

/* SECTION HEADINGS (Sandwiches, Seafood, etc.) */
.menu-content h2 {
  font-family: 'Fugaz';
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #5e0b27;
}

/* SUBTITLE (e.g., "All sandwiches come with...") */
.menu-subtitle {
  font-family: 'Montauk Regular';
  font-style: italic;
  font-size: 15px;
  margin-bottom: 25px;
  color: #5e0b27;
}

/* MENU ITEMS */
.menu-item {
  
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #5e0b27;
  padding: 10px 0;
  margin-bottom: 5px;
  position: relative;
}

/* ITEM NAME */
.item-name {
 font-family: 'Montauk Regular';
  font-weight: 300;
  font-size: 25px;
  color: #5e0b27;
}

/* ITEM PRICE */
.item-price {
    font-family: 'Montauk Regular';
  position: absolute;
  right: 0;
  top: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #5e0b27;
}

/* ITEM DESCRIPTION */
.menu-item p {
    font-family: 'Montauk Regular';
  font-size: 14px;
  margin: 5px 0 0 0;
  color: #5e0b27;
}

/*CUSTOM FONT*/
@font-face {
  font-family: 'Fugaz';
  src: url('/fonts/FugazOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*NAVBAR CSS*/
.custom-navbar {
  width: 1800px;
  height: 166px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px;
}
/* image size */
.navbar-logo img {
  width: 250px;
  height: 166px;
  object-fit: contain;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 60px; /* spacing between buttons */
  margin: 0;
  padding: 0;
}
/* to change the fonts of all my buttons */
.navbar-links a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Fugaz', sans-serif;
  color: #550a23; 
  background: transparent;
  border: none;
  font-weight: 700;
}


.footer-color{
    color: #5F002B;
}

.catering-box{
    background-color: white;
}

.catering-title{
    color:#5F002B;
    text-align: center;
    font-size: 50px;
    font-family: Fugaz One, Regular;
}

.cateringHero{
    display: center;
}
.catering-col-text{
    background-color: white;
    color:#5F002B;
}

.catering-3-images{
    width:100;
}